body {
    background-image: url("Violetta-hands-in-earth-photo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 64px;
    text-align: center;
    color: blue;
    font-weight: bold;
}

.square {
    height: 100px;
    width: 100px;
    background-color: red;
}